# Ignore the virtual environment
.venv/
.env

# Ignore pycache, data, etc. 
*.json
*.parquet
*.db
*.sqlite
*.pyc
__pycache__/
*.csv
*.zst

# Ignore Jupyter Notebook checkpoints and autosaves
.ipynb_checkpoints/
.virtual_documents/